
  /* Estilos globales */
body {
    background-color: #1A202C; /* Color de fondo del cuerpo */
    color: #F7FFF7; /* Color de texto principal */
    font-family: 'Lato', sans-serif; /* Fuente principal */
    margin: 0;
    padding: 0;
  }
  
  /* Estilos del encabezado */
  header {
    text-align: center;
    padding: 50px;
  }
  
/* Estilos del contenedor principal */
.container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Distribuye el espacio en dos columnas iguales */
  grid-gap: 50px; /* Espacio entre las columnas */
}

/* Estilos de la sección "Acerca de mí" */
#about {
  grid-column: 1 / span 1; /* Ocupa la primera columna */
}

/* Estilos de la sección "Proyectos destacados" */
#projects {
  grid-column: 2 / span 1; /* Ocupa la segunda columna */
}

  
 /* Estilos de la imagen  */
  .logo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
  }
  

  h1 {
    font-size: 40px;
    margin: 0;
    margin-top: 25px;
    padding: 0;
    letter-spacing: 2px;
    color: #FFCB00; /* Color del nombre */
  }
  
  /* Estilos de la sección "Acerca de mí" */
  #about {
    background-color: #6D214F; /* Color de fondo de la sección */
    padding: 100px 50px;
  }
  
  #about > h2 {
    font-size: 30px;
    margin-bottom: 30px;
    color: #FFCB00; /* Color del título de la sección */
  }
  
  /* Estilos de la sección "Proyectos Destacados" */
  #projects {
    background-color: #FFCB00; /* Color de fondo de la sección */
    padding: 100px 50px;
  }

  #projects > h2 {
    color:  #6D214F;
    margin-bottom: 40px;
  }
  
  .project {
    margin-bottom: 40px;
  }
  
  a {
    color: #1A202C; /* Color de los enlaces */
    text-decoration: none;
  }
  
  a:hover {
    color: #F7FFF7; 
  }

 
  
  #contact {
    max-height: 500px;
    margin: 0 auto;
    padding: 50px;
    height: auto; /* Elimina la altura fija */
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  

/* Estilos de la sección "Contacto" */
#contact {
  background-color: #F7FFF7; /* Color de fondo de la sección */
  padding: 100px 50px;
  color: #1A202C; /* Color del texto */
  text-align: center; /* Centra el contenido de la sección */
}

#contact h2 {
  font-size: 30px;
  margin-bottom: 30px;
  color: #6D214F; /* Color del título de la sección */
  text-transform: uppercase; /* Convierte el texto en mayúsculas */
}

#contact p {
  font-size: 18px;
  line-height: 1.6; /* Espaciado entre líneas */
}

#contact form {
  max-width: 600px;
  margin: 0 auto; /* Centra el formulario horizontalmente */
}

#contact form label {
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
  color: #6D214F; /* Color de las etiquetas */
  text-align: left; /* Alinea el texto a la izquierda */
}

#contact form input,
#contact form textarea {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #6D214F; /* Borde de los campos */
  margin-bottom: 20px;
}

#contact form textarea {
  resize: vertical; /* Permite redimensionar verticalmente el textarea */
}

#contact form button {
  background-color: #6D214F; /* Color de fondo del botón */
  color: #F7FFF7; /* Color del texto del botón */
  border: none;
  padding: 12px 30px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Transición suave del color de fondo */
margin-bottom: 20px;
}

#contact form button:hover {
  background-color: #FFCB00; /* Color de fondo del botón al pasar el mouse */
}



footer {
  text-align: center; /* Alinea el contenido al centro */
  padding: 20px 0; /* Añade un espacio interno superior e inferior */
  background-color: #1A202C; /* Cambia el color de fondo del footer */
  color: #F7FFF7; /* Cambia el color del texto */
}

.social-icons {
  margin-bottom: 20px;
}

.social-icons a {
  display: inline-block;
  margin-right: 10px;
  color: #FFCB00;
  font-size: 20px;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #6D214F;
}















/* Estilos generales */

/* Estilos para pantallas de hasta 600px (vista móvil) */
@media (max-width: 600px) {
  body {
    font-size: 14px; /* Ajusta el tamaño de fuente para una mejor legibilidad en dispositivos móviles */
  }

  #contact {
    padding: 30px; /* Ajusta el espacio interno para una apariencia más compacta */
  }
}




/* Estilos para pantallas de 601px a 1024px (vista tablet) */




@media (min-width: 601px) and (max-width: 1024px) {
  body {
    font-size: 16px; /* Ajusta el tamaño de fuente para una mejor legibilidad en tabletas */
  }

  header {
    padding: 20px; /* Ajusta el espacio interno del encabezado para una apariencia más espaciada */
  }

  #contact {
    padding: 40px; /* Ajusta el espacio interno para una apariencia más espaciada */
  }
}

/* Estilos para pantallas de 1025px en adelante (vista de escritorio) */
@media (min-width: 1025px) {
  body {
    font-size: 18px; /* Ajusta el tamaño de fuente para una mejor legibilidad en pantallas de escritorio */
  }

  header {
    padding: 30px; /* Ajusta el espacio interno del encabezado para una apariencia más espaciada */
  }

  #contact {
    padding: 50px; /* Ajusta el espacio interno para una apariencia más espaciada */
  }
}
